*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.heading {
    background-color: pink;
    margin: 20px;
    border: 5px solid red
}

box-1 {
    backgorund-color :aqua



}


.p {
    color: blue; 
}

