*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.heading {
    background-color: pink;
    margin: 10vw;
    border: 1vw solid red
}

.box-1 {
    background-color :aqua;
    padding: 5vw; 
    display: block; 
    border: 1vw solid aqua
   
}

#box-2 {
    background-color: yellow; 
    margin: 10vh; 
    display: block; 
    padding: 5vh; 
    border: 1vw solid rgb(252, 203, 252)
    

}

#JUST-SOME-TEXT {
    color: blue; 
}

#JUST-SOME-TEXT- {
    color: green; 
}

#JUST-SOME--TEXT- {
    color: purple
}